@use "variables";

/* Mixins */
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

body {
    @include flex(column);
    background-color: variables.$bg-color;
    width: 100%;
    margin: 0rem;
}

nav ul, main {
    max-width: 1024px;
}

a {
    text-decoration: none;
    color: variables.$link-color;
}

a.link {
    position: relative;
    transition: color 250ms ease-in-out,
                border-bottom 250ms ease-in-out;
    font-size: 1.15rem;
    padding: 0rem 0.5rem;
    border-bottom: 1px solid transparent;

    &:hover, &:active, &.active {
        color: variables.$link-hover-color;

        &::after {
            width: 100%;
            left: 0%;
        }
    }

    &::after {
        position: absolute;
        content: "";
        transition: width 250ms ease-in-out,
                    left 250ms ease-in-out;
        background-color: variables.$link-hover-color;
        width: 0px;
        height: 1px;
        left: 50%;
        bottom: 0px;
    }
}

nav {
    @include flex();
    background-color: variables.$bg-color;
    width: 100%;
    margin-bottom: 3rem;

    ul {
        @include flex(row, flex-end);
        list-style-type: none;
        width: 100%;
        padding: 0rem 1rem;
        margin: 1.5rem 1rem;

        li {
            a.link, a.link.active {
                color: variables.$text-color;

                &:active, &:hover {
                    color: variables.$text-color;
                }
                
                &::after {
                    background-color: variables.$text-color;
                }
            }

            + li {
                margin-left: 2rem;
            }
        }
    }
}