@use "variables";

/* Mixins */
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

body {
    @include flex(column);
    width: 100%;
    margin: 0rem;
}

nav ul, main {
    max-width: 1024px;
}

nav {
    @include flex();
    box-shadow: 0.1rem 0rem 1rem hsla(219, 40%, 10%, 0.5);
    width: 100%;
    margin-bottom: 3rem;

    ul {
        @include flex(row, flex-end);
        list-style-type: none;
        width: 100%;
        padding: 0rem;
        margin: 1.5rem 2rem;

        li + li {
            margin-left: 2rem;
        }
    }
}

a {
    transition: color 250ms ease-in-out;
    text-decoration: none;
}