@use "global";
@use "variables";

/* Fonts */
@font-face {
    font-family: "Klein";
    src: url("../../fonts/klein-regular.ttf")
}

:root {
    font-family: "Klein", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: variables.$text-color;
}

/* Containers */
body {
    background-color: variables.$bg-color;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 2rem;
}

section {
    @include global.flex(column);

    a {
        transition: color 250ms ease-in-out,
                    background-color 250ms ease-in-out;
        color: variables.$text-color;
        padding: 1rem 3rem;
        border: 2px solid variables.$text-color;
        margin: 2rem;

        &:hover, &:active {
            color: variables.$bg-color;
            background-color: variables.$text-color;
        }
    }
}

footer {
    @include global.flex();
    margin-top: 1rem;

    a {
        position: relative;
        color: variables.$link-color;
        font-size: 1.15rem;
        transition: color 250ms ease-in-out;
        padding: 0rem 0.5rem;
        border-bottom: 1px solid transparent;

        &:hover, &:active {
            color: variables.$link-hover-color;

            &::after {
                width: 100%;
                left: 0%;
            }
        }

        &::after {
            position: absolute;
            content: "";
            transition: width 250ms ease-in-out,
                        left 250ms ease-in-out;
            background-color: variables.$link-hover-color;
            width: 0px;
            height: 1px;
            left: 50%;
            bottom: 0px;
        }

        + a {
            margin-left: 3rem;
        }
    }
}

/* Elements */
figure {
    margin: 0.5rem;

    img, img:active {
        box-shadow: 0rem 0rem 1rem #888888;
        border-radius: 50%;
        max-width: 20rem;
        max-height: 20rem;
    }
}

h1, h2 {
    text-align: center;
    font-weight: normal;
    margin: 0.5rem 0rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.25rem;
}

@media only screen and (min-width: 2560px) {
    :root {
        font-size: 22px;
    }
}

@media only screen and (max-width: 425px) {
    :root {
        font-size: 14px;
    }

    figure img {
        max-width: 15rem;
        max-height: 15rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
    }

    footer a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    :root {
        font-size: 12px;
    }

    figure img {
        max-width: 10rem;
        max-height: 10rem;
    }

    section a {
        padding: 0.75rem 2rem;
    }
}