@use "global";
@use "variables";

/* Fonts */
@font-face {
    font-family: "Klein";
    src: url("../../fonts/klein-regular.ttf")
}

:root {
    font-family: "Klein", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: base.$text-color;
}

/* Containers */
body {
    min-height: 100vh;
}

section {
    @include global.flex(column);

    a {
        @include global.transition(border-color, 250ms, linear);
        color: base.$text-color;
        padding: 1rem 3rem;
        border: 2px solid base.$text-color;
        margin: 2rem;

        &:hover, &:active {
            @include global.transition(border-color, 250ms, linear);
            border-color: base.$text-highlight-color;
        }
    }
}

footer {
    @include global.flex();

    a {
        padding: 0rem 1.5rem;

        + a {
            border-left: 1px solid base.$text-color;
        }
    }
}

/* Elements */
figure {
    margin: 0.5rem;

    img, img:active {
        border-radius: 50%;
        max-width: 20rem;
        max-height: 20rem;
    }
}

span {
    color: base.$text-highlight-color;
}