* {
    color: inherit;
    background-color: inherit;
    padding: 0;
    border: none;
    margin: 0;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}