@import "../../sass/animations";
@import "../../sass/mixins";
@import "../../sass/variables";

.profile {
    @include flex(column);
    text-align: center;
    width: 100vw;
    height: 100vh;

    img {
        @include anim-blow-up(1000ms);
        border-radius: 50%;
        box-shadow: 0 0 1rem #AAAAAA;
    }

    h1 {
        font-size: 2.25rem;
        margin: 2rem 0 1rem;
    }

    .portfolio-link {
        @include transition(color, background-color);
        color: $text-color;
        outline: none;
        padding: 1rem 4rem;
        border: 2px solid $text-color;
        margin: 3rem 0;

        &:hover, &:active, &:focus {
            color: $bg-color;
            background-color: $text-color;
        }

        &::after {
            content: none;
        }
    }

    a {
        font-size: 1.15rem;

        + a {
            margin-left: 4rem;
        }
    }
}

@media only screen and (max-width: 2560px) {
    .profile {
        img {
            width: 25rem;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .profile {
        img {
            width: 20rem;
        }
    }
}

@media only screen and (max-width: 425px) {
    .profile {
        h1 {
            font-size: 1.75rem;
        }

        h2 {
            font-size: 1.25rem;
        }

        .portfolio-link {
            padding: 1rem 2rem;
        }
    }
}