@use "../../src/sass/global";
@use "../../src/sass/variables";

/* Fonts */
@font-face {
    font-family: "Klein";
    src: url("../../fonts/klein-regular.ttf")
}

:root {
    font-family: "Klein", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: variables.$text-color;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 1rem;
    margin: 0rem 0rem 1rem;
}

section {
    @include global.flex();
    flex-wrap: wrap;
    width: 100%;

    a {
        color: variables.$bg-color;
        box-shadow: 0rem 0rem 2rem #CCCCCC;
        border-radius: 1rem;
        margin: 1rem;
    }
}

figure {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0rem;

    &:hover, &:active {
        figcaption {
            transform: translateY(0%);
        }
    }

    figcaption {
        position: absolute;
        color: variables.$bg-color;
        font-weight: bold;
        transition: transform 250ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.75);
        transform: translateY(100%);
        bottom: 0rem;
        left: 0rem;
        right: 0rem;
        padding: 2rem;

        span {
            display: block;
            font-weight: normal;
            font-size: 0.8rem;
            margin-top: 0.5rem;
        }
    }

    img {
        display: block;
        height: 360px;
    }
}

@media only screen and (min-width: 2560px) {
    :root {
        font-size: 30px;
    }
    
    nav ul, main {
        max-width: 1500px;
    }

    figure img {
        height: 500px;
    }
}

@media only screen and (max-width: 1024px) {
    :root {
        font-size: 14px;
    }

    nav ul, main {
        max-width: 900px;
    }

    figure img {
        height: 300px;
    }
}

@media only screen and (max-width: 928px) {
    :root {
        font-size: 12px;
    }

    nav ul, main {
        max-width: 650px;
    }

    section a {
        box-shadow: none;
    }

    figure {
        overflow: visible;
        border-radius: 0rem;

        figcaption {
            position: static;
            color: variables.$text-color;
            font-size: 1.2rem;
            text-align: center;
            transform: none;
            background-color: transparent;
            padding: 0rem 0rem 0.5rem;

            span {
                display: none;
            }
        }

        img {
            box-shadow: 0rem 0rem 1rem #CCCCCC;
            border-radius: 1rem;
            height: 180px;
        }
    }
}

@media only screen and (max-width: 425px) {
    :root {
        font-size: 10px;
    }

    nav ul {
        justify-content: center;
    }

    nav ul, main {
        max-width: 320px;
    }
}

@media only screen and (max-width: 320px) {
    :root {
        font-size: 8px;
    }

    nav ul, main {
        max-width: 250px;
    }

    figure img {
        height: 150px;
    }
}