/* Global styles */
body {
    margin: 0px;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

/* Animations */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}