@font-face {
    font-family: "Klein";
    src: url("../../fonts/klein-regular.ttf");
}

:root {
    --link-color: hsl(210, 85%, 65%);
    --highlight-color: hsl(150, 85%, 65%);
    font-family: "Klein";
    font-size: 16px;
    color: #DDDDDD;
}

/* Containers */
body, #nav::before {
    background-color: hsl(212, 40%, 18%);
    background-image: radial-gradient(circle at center, hsl(212, 40%, 18%), hsl(219, 40%, 8%));
    margin: 0rem;
}

#content, #nav-navbar {
    max-width: 75rem;
}

#content {
    padding: 2rem;
    margin: 2rem auto;
}

/* Navbar */
#nav {
    position: relative;
    background-color: hsl(212, 40%, 18%);
    box-shadow: 0.1rem 0rem 1rem hsla(219, 40%, 10%, 0.5);
    padding: 1rem 0rem;
}

#nav::before {
    content: "";
    position: absolute;
    filter: blur(5rem);
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
}

#nav-navbar {
    justify-content: flex-end;
    width: 100%;
    padding: 0rem 2rem;
    margin: auto;
    z-index: 1;
}

#nav-navbar > a + a{
    margin-left: 2rem;
}

/* Games */
article + article {
    margin-top: 2rem;
}

header {
    padding: 0rem 1rem;
}

header span {
    color: #AAAAAA;
    font-weight: 400;
    font-size: 0.8em;
    padding-left: 0.5rem;
}

/* Global styles */
a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover, .nav-active {
    color: var(--highlight-color);
}

a, a:hover {
    transition: color 250ms linear;
}

img, img:active {
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.75);
}

img:hover, img:active {
    box-shadow: 0rem 0rem 1.5rem var(--link-color);
}

img, img:hover, img:active {
    transition: box-shadow 250ms linear;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}