@font-face {
    font-family: "Klein";
    src: url("../../fonts/klein-regular.ttf");
}

:root {
    font-family: "Pakenham", "Klein";
    font-size: 16px;
    color: #000000;
}

#games, #nav-navbar {
    width: 62.5em;
}

/* Navbar */
#nav {
    background-color: #FFFFFF;
    box-shadow: 0em 0.2em 0.4em #CCCCCC;
    width: 100%;
    height: 3em;
}

#nav-navbar {
    justify-content: flex-end;
}

.nav-item, .nav-item:visited {
    color: #000000;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0em 0.2em;
    margin: 0em 0.8em;
}

.nav-item:hover, .nav-active {
    margin-bottom: -2px;
    border-bottom: 2px solid #333333;
}

.nav-item:last-child {
    border-right: none;
}

.nav-active {
    cursor: default;
}

/* Games */
.game {
    color: #000000;
    text-decoration: none;
    margin: 2em 0em;
}

.game:hover > a > img {
    box-shadow: 0em 0em 1em 0em hsl(200, 50%, 60%);
}

.game > a > img {
    border-radius: 1em;
    box-shadow: 0em 0em 0.7em 0em #CCCCCC;
}

.game > a > img, .game:hover > a > img {
    -webkit-transition: box-shadow 200ms linear;
    -moz-transition: box-shadow 200ms linear;
    -o-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;
}

.game-description {
    margin: 0.5em;
}

.game-description > h1 {
    margin: 0em;
}

.game-description > h1 > span {
    color: #666666;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.game-description > h1 > span > a {
    color: hsl(200, 100%, 40%);
    text-decoration: none;
}

.game-description > h1 > span > a:hover {
    color: hsl(200, 100%, 60%);
}