@import "../sass/mixins";
@import "../sass/variables";

@font-face {
    font-family: "Klein";
    src: url("../assets/fonts/klein-regular.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

:root {
    font-family: "Klein";
    font-size: 16px;
    color: $text-color;
}

body {
    background-color: $bg-color;
    margin: 0;
}

#root {
    @include flex(row, center, flex-start);

    section {
        max-width: 1024px;
    }
}