@import "../../sass/mixins";
@import "../../sass/variables";

.project-display {
    @include flex();
    flex-wrap: wrap;

    h1 {
        flex-basis: 100%;
        padding: 0 0.5rem;
        border-bottom: 1px solid #CCCCCC;
    }

    a {
        border-radius: 1rem;
        box-shadow: 0rem 0rem 2rem #CCCCCC;
        overflow: hidden;
        padding: 0;
        margin: 1rem;

        &::after {
            content: none;
        }

        &:hover, &:active, &:focus {
            figcaption {
                transform: translateY(0%);
            }
        }
    }

    figure {
        position: relative;

        img {
            display: block;
            border-radius: inherit;
        }

        figcaption {
            @include transition(transform);
            position: absolute;
            background-color: rgba(0, 0, 0, 0.85);
            transform: translateY(100%);
            bottom: 0;
            left: 0;
            right: 0;
            padding: 1.5rem;

            span {
                display: block;
                color: $bg-color;
                background-color: transparent;
            }

            .title {
                font-weight: bold;
            }

            .description {
                margin-top: 0.5rem;
                font-size: 0.8rem;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .project-display a {
        margin: 0.5rem;
    }
}

@media only screen and (max-width: 425px) {
    .project-display h1 {
        margin: 0 1rem;
    }
}